.content{
  text-align: center;
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
               0px 8px 13px rgba(0, 0, 0, 0.1),
               0px 18px 23px rgba(0, 0, 0, 0.1);
}

body{
  background-image: url(https://images.unsplash.com/photo-1529257414772-1960b7bea4eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  color: white;
}

h1{
  font-size: 5em;
  font-weight: 700;
}

html{
  height: 100%;
}

hr{
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}
